*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif , Arial, Helvetica;
    
}

main{
    height: 90vh;
    background-color: black;
    z-index: -1;
    color: white;
}

.earth-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 90vh;



}

.earth-container h1{
position: relative;
text-align: center;
margin-left: 380px;
font-size: 6rem;
display: block;
bottom: 100px;
left: 100px;




}

.earth-container h3{
    position: absolute;
    left: 200px;
    width: 50ch;
    font-weight: 200;
    line-height: 1.5;
    font-size: 30px;
}

section{
    height: 100vh;
    
}

.about-earth h1{

    margin-left: 800px;
    margin-top: 80px;
   
    
}

.about-earth .ps {
    padding-top: 70px;
    line-height: 1.5;
    font-size: 1.5rem;
    display: block;
    width: 70ch;
    margin: 0 auto;

}

.about-earth  p{
    padding-bottom: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}


.pie-chart {
	background:
		radial-gradient(
			circle closest-side,
			transparent 53%,
			white 0
		),
		conic-gradient(
			#0a3812 0,
			#0a3812 38%,
			#f28e2c 0,
			#f28e2c 61%,
			#e15759 0,
			#e15759 77%,
			#76b7b2 0,
			#76b7b2 87%,
			#59a14f 0,
			#59a14f 93%,
			#edc949 0,
			#edc949 100%
	);
	position: relative;
	width: 500px;
	min-height: 350px;
	outline: 1px solid #ccc;
    margin: 50px auto;
}
.pie-chart h2 {
	position: absolute;
    left: 35%;
	margin: 1rem;
}
.pie-chart cite {
	position: absolute;
	bottom: 0;
	font-size: 80%;
	padding: 1rem;
	color: gray;
}
.pie-chart figcaption {
	position: absolute;
	bottom: 1em;
	right: 1em;
	font-size: smaller;
	text-align: right;
}
.pie-chart span:after {
	display: inline-block;
	content: "";
	width: 0.8em;
	height: 0.8em;
	margin-left: 0.4em;
	height: 0.8em;
	border-radius: 0.2em;
	background: currentColor;
}


